# App
APP_NAME=Jira
APP_URL=http://localhost:3000
APP_ENV=development
APP_PORT=3000

# Swagger
SWAGGER_PATH=/api
SWAGGER_USERNAME=username
SWAGGER_PASSWORD=your_password_here
SWAGGER_TITLE=Jira
SWAGGER_DESCRIPTION=Jira