# App
APP_NAME=Jira
APP_URL=http://localhost:5173
API_URL=http://localhost:3000
APP_PORT=3000
NODE_ENV=development
COOKIE_SECRET=your_secret_here

# Swagger
SWAGGER_PATH=/docs
SWAGGER_USERNAME=
SWAGGER_PASSWORD=
SWAGGER_TITLE=Saas Task Management Api
SWAGGER_DESCRIPTION= 

# Database
DATABASE_CONNECTION=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_DB_NAME=app

# Auth
JWT_ACCESS_SECRET=portfolio_demo_access_secret_123456789
ACCESS_TOKEN_EXPIRES_IN=900
REFRESH_TOKEN_EXPIRES_IN=604800

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_RETRIES_COUNT=0

# Rabbit MQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_RETRIES_COUNT=0
